
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

section {
  max-width: 1280px;
  margin: auto;
  padding: 0 2rem ;
}


.header {
  @apply min-h-screen overflow-hidden bg-homeHeader bg-cover bg-center px-8 pt-32 max-sm:px-4 md:px-24 lg:px-0
}

  .header_text {
    @apply relative font-poppins font-medium text-5xl leading-[58px] max-sm:text-2xl text-black;
  }

  .header_text::before {
    @apply  lg:absolute top-[-10px] w-[168px] h-[5px] bg-pry rounded-md lg:block;
    content: "";
  }

  .icon_wrapper {
    @apply w-9 h-9 lg:w-11 lg:h-11 bg-orange-400 flex justify-center rounded-md p-2
  }
  
  .text {
    @apply font-mulish text-lg text-sec;
    line-height: 30px;
  }
  
  .menu {
    @apply bg-white absolute h-screen w-full top-0 left-0 py-[8rem] flex flex-col justify-between transition-all duration-200
    md:flex-row md:bg-transparent md:w-auto md:relative md:p-0 md:h-auto md:items-center md:translate-x-0
  }
  
  
  .menu_link {
    @apply font-inter font-thin text-base text-sec
  }
  
  .flex_row_btw {
    @apply flex justify-between items-center
  }

  .top_absolute {
    @apply hidden md:block md:absolute md:-top-[1.7rem] lg:-top-[2.3rem]  -right-[3.7rem]  xl:-right-9
  }

  .bottom_absolute {
    @apply hidden md:block md:absolute -bottom-[6.5rem] -left-[3.8rem] xl:-left-[2.2rem]  
  }
  

.menu_btn {
  background: linear-gradient(to right, rgb(232 168 240),  rgba(251, 237, 233, 1));
  height: 56px;
}
